

/*INICIO ESTILOS DEL HEADER*/
header{
    background: black;
}

.navbar-brand{
    cursor: pointer;
}
.navbar-brand .h4:hover{
    text-decoration: none;
    color: rgb(87, 197, 87);
}

.main_nav{
    background: transparent;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    opacity: 0;
    visibility: hidden;
}

.menu_item{
    margin: 0 15px;
}

.menu_link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu_link:hover{
    text-decoration: none;
    color: rgb(87, 197, 87);
}

.menu_bar{
    width: 30px;
    
    cursor: pointer;
}

.uno, .dos{
    width: 100%;
    background: rgb(87, 197, 87);
    height: 3px;
    margin: 5px;
    transition: all 0.5s;
}

/*FIN ESTILOS DEL HEADER*/



/*INICIO ESTILOS DEL SECTION NUMERO "1"*/

#container{
    height: 600px;
}

#main-background{
    background-color: black;
    position: absolute;
    width: 0;
    height: 600px;
    transition: 1s ease-in-out;
}

#main-text{
    opacity: 0;
    transition: 2s ease-in-out;
}

.img-container{
    display: flex;
    justify-content: center;
    min-height: 600px;
    align-items: center;
}

#perfil-img{
    width: 40%;
    max-width: 450px;
    opacity: 0;
    z-index: 1000;
    transition: 2s ease-in-out;
    border-radius: 100%;
}

#lines-img{
    opacity: 0;
    z-index: 999;
    transition: 1s ease-in-out;
}

/*FIN ESTILOS DEL SECTION NUMERO "1"*/



/*INICIO ESTILOS DEL SECTION NUMERO "2"*/

#container2{
    background-color: rgb(3, 5, 31);
    width: 100%;
    min-height: 600px;
}

#bluecode-img{
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
}

#container2-txt{
    margin-left: 5rem;
    margin-right: 5rem;
}

#presentacion{
    font-size: 5rem;
}
#presentacion:hover{
    color: rgb(87, 197, 87);
}

#txt{
    font-size: 2.5rem;
    padding-right: ;
    /* px-5 text-center mx-5 mb-5 mt-3 pb-3 */
}

b:hover{
    color: rgb(87, 197, 87);
}

/*FIN ESTILOS DEL SECTION NUMERO "2"*/



/*SOBREMI ESTILOS*/

#container2{
    background: rgb(3, 5, 31);
}

.poligono-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
    /*comparte con experiencia*/
#iconme{
    display: block;
    color: white;
    font-size: 4.5rem;
    margin-top: 1.5rem;
    z-index: 1000;
}

#iconme:hover{
    color: rgb(87, 197, 87);
}


#poligono{
    display: block;
    width: 15%;
    margin-top: 3.4rem;
}
#cuadrado{
    display: block;
    width: 12.5%;
    margin-top: 3.4rem;
}

#qup{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*FIN SOBREMI ESTILOS*/



/*EXPERIENCIA INICIO ESTILOS*/

#containerexp{
    background: rgb(3, 5, 31);
}

.mapcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconexp{
    display: block;
    color: rgb(87, 197, 87);
    font-size: 2rem;
    margin-top: 1rem;
    z-index: 1000;
}



/*FIN EXPERIENCIA  ESTILOS*/



/* FOOTER INICIO DE ESTILOS */

#footer{
    background-color: black;
    border-top: solid 4px rgb(87, 197, 87);
    border-bottom: solid 4px rgb(87, 197, 87);
}

/*div*/
.footcontainer{
    width: 100%;
    height: auto;
    margin: auto;
    
}

                /* ul */
.footcontainer .list-foot {
    margin: 0px;
    padding: 25px;
    text-align: center;
    
}

                            /* li */
.footcontainer .list-foot .link-foot{
    display: inline-block;
    list-style: none;
    
}

                                     /* a */
.footcontainer .list-foot .link-foot .afoot{
    width: 80px;
    height: 80px;
    background: white;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    
} 

                                            /* i */
.footcontainer .list-foot .link-foot .afoot .fab{
    position: relative;
    color: black;
    transition: .5s;
}

.footcontainer .list-foot .link-foot .afoot:hover .fab{
    transform: rotateY(360deg);
}

.footcontainer .list-foot .link-foot .afoot:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(87, 197, 87);
    border-radius: 50%;
    transition: .5s;
}

.footcontainer .list-foot .link-foot .afoot:hover:before{
    top: 0;

}

/* FOOTER FIN DE ESTILOS */




/* - ANIMACIONES  - ANIMACIONES  - ANIMACIONES  - ANIMACIONES  - ANIMACIONES */

/* NAV */
.mostrar .uno{
    transform: rotate(45deg) translate(3px, 3px);
}

.mostrar .dos{
    transform: rotate(-45deg) translate(3px, -3px);
}

.mostrar .menu{
    visibility: visible;
    opacity: 1;
    transition: 1.5s ease-in-out;
  }
  

/*SECTION*/
.spin{
    width: 100%;
    max-width: 450px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




/* MEDIA QUERY PARA SECTION NUMERO #1 */
@media (max-width: 1024px) {
    .display-1 {
        font-size: 3rem;
    }
 }
 
 @media (max-width: 992px) {
     #main-content {
         padding-top: 5rem;
         padding-bottom: 5rem;
         text-align: center;
     }
     #container {
         height: unset;
     }
     #main-background {
         height: 100%;
     }
 }

 @media (max-width: 880px){
     /*SECTION NUMERO "2" RESPONSIVE*/
#container2{
    background-color: rgb(3, 5, 31);
    width: 100%;
    min-height: auto;
}
    /*COMPARTE CON SOBREMI*/
#container2-txt{
    margin-left: 1rem;
    margin-right: 1rem;
}
    /*COMPARTE CON SOBREMI*/
#presentacion{
    font-size: 4rem;
}
    /*COMPARTE CON SOBREMI*/
#txt{
    font-size: 2rem;
}
/*FIN SECTION NUMERO "2" RESPONSIVE*/


 /*ICONS RESPONSIVE*/
#iconme{
        font-size: 3.5rem;
}

}


 
 @media (max-width: 575.98px) { 
     .spin {
         max-width: 260px;
     }
  }



