

/*INICIO ESTILOS DEL HEADER*/

.navbar-brand{
    cursor: pointer;
}
.navbar-brand .h4:hover{
    text-decoration: none;
    color: rgb(87, 197, 87);
}

.main_nav{
    background: black;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 100px;
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    opacity: 0;
    visibility: hidden;
}

.menu_item{
    margin: 0 15px;
}

.menu_link{
    color: white;
    text-decoration: none;
    font-weight: bold;

}
.menu_link:hover{
    text-decoration: none;
    color: rgb(87, 197, 87);
    
}

.menu_bar{
    width: 30px;
    margin-right: 120px;
    cursor: pointer;
}

.uno, .dos{
    width: 100%;
    background: rgb(87, 197, 87);
    height: 3px;
    margin: 5px;
    transition: all 0.5s;
}

/*FIN ESTILOS DEL HEADER*/



/*INICIO ESTILOS DEL SECTION NUMERO "1"*/

#container{
    height: 600px;
}

#main-background{
    background-color: black;
    position: absolute;
    width: 0;
    height: 600px;
    transition: 1s ease-in-out;
}

#main-text{
    opacity: 0;
    transition: 2s ease-in-out;
}

.img-container{
    display: flex;
    justify-content: center;
    min-height: 600px;
    align-items: center;
}

#perfil-img{
    width: 40%;
    max-width: 450px;
    opacity: 0;
    z-index: 1000;
    transition: 2s ease-in-out;
    border-radius: 100%;
}

#lines-img{
    opacity: 0;
    z-index: 999;
    transition: 1s ease-in-out;
}

/*FIN ESTILOS DEL SECTION NUMERO "1"*/



/*INICIO ESTILOS DEL SECTION NUMERO "2"*/

#container2{
    background-color: rgb(3, 5, 31);
    width: 100%;
    min-height: 600px;
}

#bluecode-img{
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
}

#container2-txt{
    margin-left: 5rem;
    margin-right: 5rem;
}

#presentacion{
    font-size: 5rem;
}
#presentacion:hover{
    color: rgb(87, 197, 87);
}

#txt{
    font-size: 3rem;
}


/*FIN ESTILOS DEL SECTION NUMERO "2"*/










/* - ANIMACIONES  - ANIMACIONES  - ANIMACIONES  - ANIMACIONES  - ANIMACIONES */

/* NAV */
.mostrar .uno{
    transform: rotate(45deg) translate(3px, 3px);
}

.mostrar .dos{
    transform: rotate(-45deg) translate(3px, -3px);
}

.mostrar .menu{
    visibility: visible;
    opacity: 1;
    transition: 1.5s ease-in-out;
  }
  

/*SECTION*/
.spin{
    width: 100%;
    max-width: 450px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* MEDIA QUERY PARA SECTION NUMERO #1 */
@media (max-width: 1024px) {
    .display-1 {
        font-size: 3rem;
    }
 }
 
 @media (max-width: 768px) {
     #main-content {
         padding-top: 5rem;
         padding-bottom: 5rem;
         text-align: center;
     }
     #container {
         height: unset;
     }
     #main-background {
         height: 100%;
     }
 }
 
 @media (max-width: 575.98px) { 
     .spin {
         max-width: 260px;
     }
  }



